.navbar {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  padding: 1rem 2rem;
  position: absolute;
  top: 1em;
  left: 200px;
  right: 200px;
  z-index: 99;
  border-radius: 50px;
}
.navbar-title {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container {
  max-width: 1200px;
  left: 2em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-menu a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  transition: opacity 0.3s;
}

.navbar-menu a:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    gap: 1rem;
  }
}

